[submodule "qbittorrent"]
	path = qbittorrent
	url = https://github.com/qbittorrent/qBittorrent
[submodule "libtorrent-rasterbar"]
	path = libtorrent-rasterbar
	url = https://github.com/arvidn/libtorrent
